.pencil-banner {
   width: 100%;
   background-color: rgb(21, 49, 68);
}

.nav-ul {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0 24px;
}

.nav-li {
   width: 33.33%;
   padding: 20px 0;
}

.loading {
   display: inline-block;
   width: 60px;
   /* Increased width */
   height: 60px;
   /* Increased height */
   border: 4px solid rgba(0, 0, 0, 0.2);
   /* Thicker border */
   border-radius: 50%;
   border-top-color: rgba(0, 0, 0, 0.6);
   /* Darker top border */
   animation: spin 1s ease-in-out infinite;
   /* Ensure this line is correct */
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   /* Center the loader */
   z-index: 1;
   backdrop-filter: blur(5px);
   /* Blur effect on background */
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
      /* Start rotation */
   }

   100% {
      transform: rotate(360deg);
      /* Complete rotation */
   }
}

.overlay {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(255, 255, 255, 0.5);
   /* Adjust opacity as needed */
   backdrop-filter: blur(10px);
   /* Adjust blur strength */
   z-index: 0;
   /* Ensure overlay is below the loader */
}
